<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Construction Project Cost Estimaton</title>
    <link rel="icon" type="image/jpg" href="/public/css/logo.jpg">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link rel='stylesheet' href='http://codepen.io/assets/libs/fullpage/jquery-ui.css'>
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>

<body class="m1">
    <div>
        <h1>Construction Project Cost Estimation</h1>
    </div>
    {{{body}}}
    <footer>
    <p id="footer_text">&copy;Developed by Pirates of the Web, Stevens Institute of Technology, CS 546 Fall 2017</p>
</footer>
<noscript>
        <p class="noscriptmsg">
            You don't have javascript enabled. Enable JavaScipt or change to browser with JavaScipt.
        </p>
    </noscript>
</body>



</html>


