<script>
    function checkForm() {
        var email = document.getElementById('un');
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (!filter.test(email.value)) {
            alert('Please provide a valid email address');
            email.focus;
            return false;
        }
    }
</script>
<div id="login_form">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="text" name="username" id="un" pattern = "^[a-zA-Z0-9\.@-_]+$" placeholder="Email" required aria-label="E-mail">
        <br>
        <input type="password" name="password" id="pwd" pattern="^[a-zA-Z0-9]+$" placeholder="Password"
            required aria-label="Password" title="Password must contain contain only  Uppercase, Lowercase and  Number" minlength="6" maxlength="16" >
        <br>
        <div>
            <input type="radio" name="User_type" value="Vendor" aria-label="Vendor" id="vlogin" required> Vendor
            <input type="radio" name="User_type" value="Estimator" aria-label="Estimator" id="elogin" required> Estimator
            <br>
        </div>
        {{#if message }}
        <div>
            {{ message }}
        </div>
        {{/if}}
        <input type="submit" value="Login" id="login_button" onClick="checkForm()"> </form>
    <a href="/signup" id="new_account">Click here to make new Account</a>

</div>